.box {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 20px;
  margin-bottom: 20px;

  background-color: dimgray;
  border-radius: 20px;

  width: 100%;
  box-sizing: border-box;

  gap: 15px;
  cursor: pointer;

  transition: 0.3s ease;
}

.box:hover {
  transform: scale(1.01);
}

.matchTime {
  font-size: clamp(18px, 4vw, 40px);
  font-weight: bold;
  color: white;
  white-space: nowrap;
}

/* Tablet */
@media (max-width: 768px) {
  .box {
    padding: 15px;
    border-radius: 16px;
  }

  .matchTime {
    font-size: 28px;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .box {
    flex-direction: column;
    text-align: center;

    padding: 14px;
    gap: 20px;
  }

  .matchTime {
    font-size: 24px;
  }
}